.container{
  max-width: 90%;
}
body{
  background: #000000 !important;

}

.logo{
  margin-right: 30px !important
}
.wrap{
  overflow-x: hidden;
}
.sicons{
    margin-left: 40%;
    
}


.navbar{
    background:transparent !important;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif !important;
    margin: 0px !important;
    z-index: 1;


}
.navbar-toggler{
    color: #064D9B !important;
    border: 0px !important;
    align-items: right;
}
.navbar-toggler :focus{
  color: #064D9B !important;
  outline: none !important;
  box-shadow: none;
}
#navbarSupportedContent{
    margin-right: 10% !important;
    font-size: 18px;
}
.navbar-toggler:focus,.navbar-toggler:active {
  outline: none !important;
  box-shadow: none;
  color: #064D9B;
}
.navbar a{
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
  
}
.navbar a:hover {
    color: #ffffff !important;
border-bottom : 3px #064D9B solid ;
transition: ease-out 0.2s;

}
.active a{
    color: #ffffff;

border-top: 3px #064D9B solid;
border-bottom: 3px #064D9B solid;
border-width: 50% !important;
    
}
  .wrap{
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow-x: hidden !important;
  }




  @media only screen and (max-width:786px){
 .card{
   width: 100% !important;
   margin-left: 0% !important;
   margin-right:0% !important ;
 }
 .card-deck{
   margin-right: 0% !important;
 }
 .card-deck{
   margin-left:0% !important;
 }

    #text{
      width: 50% !important;
      margin-right: 60% !important;
    }
    body{
   background-attachment: fixed;
      background-size: cover !important;
    }

    .nav-link{
      margin-left: 0px !important
    }
    #navbarSupportedContent{
      margin-left: 0px !important;
      font-size: 18px;
  }
    .sicons{
        position: absolute;
        margin-left: 20%;
        padding-left:20px;
    } 
    .active a{
      color:#ffffff !important;
   border-top: none;
      width: 60%;
      margin-left: 0%;
      padding: 5px !important;
  }
 .nav-item{
   margin-left: 0% !important;
 }

  }
  
  /* ---- stats.js ---- */
  
  